.whr{
	width:350px;
	height:350px;
	border-radius:50%;
	padding: 7rem 1rem;
	margin: 10px auto;
}
.dontKnow{
	width:100%;
	height:30px;
	background-color:#2F4F4F;
	margin-bottom: 20px;
	margin-top:20px;
}
.dontKnowbottom{
	width:100%;
	height:600px;
	padding:5rem 0rem 0rem 0rem;
	background-color:#2F4F4F;
	margin-bottom: 20px;
	margin-top:20px;
}
.textincircle{
	color:white;
	font-size: 35px;
}
.btmbarlft{
	width: 60%;
	height:60px;
	border-radius:2px 20px 20px 2px;
	clear:both;
	margin-bottom: 5rem;
}
.btmbarrt{
	width: 60%;
	height:60px;
	clear:both;
	float: right;
	border-radius:20px 2px 2px 20px;
	margin-bottom: 5rem;
}
@media (max-width: 767px) and (min-width: 320px){
 .whr{
	 width: 280px;
	 height: 280px;
	 padding: 3.5rem 1rem;
	 margin: 0px;
 }
}
